
    @font-face{
        font-family: 'JetBrains Mono';
        src: url('../fonts/JetBrainsMono-Regular.eot') format('embedded-opentype'),
            url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
            url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
            url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: 'JetBrains Mono' ;
    }

    html {
        font-size: 12px;
    }

    main > * { 
        font-size: 3rem;
    }

    .cell-a{
        background: red;
    }

    .cell-b{
        background: green;
    }

    .cell-c{
        background: blue;
    }

    .cell-d{
        background: chocolate;
    }

    .cell-e{
        background: orange;
    }

    .cell-f{
        background: indigo;
    }

    .cell-g{
        background: maroon;
    }

